h1{
    margin-left: 22em;
    font-size: 30px;
}
h4{
    margin-left: 36em;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}
.bio{
    display: inline-flex;
}
.set{
    display: inline;
}
.cont{
    margin-left: 30px;
}
.skill{
    margin-top: 50px;
    margin-left: 30px;
}
.edu{
    margin-top: 50px;
    margin-left: 30px;
}
.about{
    display: inline;
    margin-left: 20px;
}
.work{
    margin-top: 60px;
}